/*
Author: Alex Gomes
URL:    http://alexgomes.tk
Email:  alex.09hg@gmail.com
*/
/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sourcesanspro-300.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format("woff"); }
/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, .main, nav, section, summary {
  display: block; }

/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%; }

/* Links
-------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s; }

a:hover {
  color: red; }

/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both; }

/* Site
-------------------------------------------------- */
html {
  min-height: 100%;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #f4ffd8;
  background: url("../images/raster-light.png") repeat, -moz-linear-gradient(top, #f4ffd8 0%, #d1dbc9 100%);
  background: url("../images/raster-light.png") repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4ffd8), to(#d1dbc9));
  background: url("../images/raster-light.png") repeat, -webkit-linear-gradient(top, #f4ffd8 0%, #d1dbc9 100%);
  background: url("../images/raster-light.png") repeat, -o-linear-gradient(top, #f4ffd8 0%, #d1dbc9 100%);
  background: url("../images/raster-light.png") repeat, -ms-linear-gradient(top, #f4ffd8 0%, #d1dbc9 100%);
  background: url("../images/raster-light.png") repeat, linear-gradient(top, #f4ffd8 0%, #d1dbc9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ffd8', endColorstr='#d1dbc9',GradientType=0 ); }

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 1em 1.5em 1.5em 1.5em;
  max-width: 60em;
  color: black;
  background: transparent center center; }

/* Header
-------------------------------------------------- */
.header {
  border-bottom: 2px solid red;
  margin-bottom: 1.5em; }

.logo {
  width: 100%;
  display: block;
  text-align: center; }

.logo a {
  display: inline-block;
  position: relative;
  z-index: 1; }

.logo img {
  width: 6em; }

/* Navigation
-------------------------------------------------- */
nav {
  position: relative;
  top: 0px; }

.menu a {
  display: block;
  color: #222; }

.menu a:hover {
  color: red;
  text-decoration: none; }

.menu .active {
  color: red; }

.menu li {
  list-style: none; }

.menu > li {
  text-align: center;
  position: relative; }

.menu > li > a {
  padding: .35em 0;
  border-top: 1px solid #ddd;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px lightgray; }

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em; }

.submenu:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -.5em;
  left: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid #222; }

.submenu li {
  border-bottom: 1px solid #444; }

.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 300;
  color: #fff;
  background: #222;
  white-space: nowrap; }

.submenu a:hover {
  background: #333;
  color: #fff; }

@media screen and (min-width: 50em) {
  /*this is for desktop style. and outside is mobile*/
  body {
    padding: 1em 3em; }

  .logo img {
    width: 9em; }

  nav {
    position: relative;
    top: -129px;
    padding-left: 10px;
    margin-bottom: -50px; }

  .menu {
    text-align: center; }

  .menu > li {
    display: inline-block; }

  .menu > li:nth-child(3) {
    margin-left: 230px; }

  .menu > li > a {
    padding: .35em 1em;
    border: 0; }

  .menu > li:hover .submenu {
    display: block; } }
/* Mix It UP 
--------------------------------------------------*/
#Container {
  text-align: center;
  margin-bottom: 2em; }

#Container .mix {
  display: none;
  width: 100%;
  margin: 5px;
  padding-bottom: 25px; }
  #Container .mix img {
    display: inline-block;
    width: 100%;
    border: 3px solid black; }

.filter {
  background-color: gray;
  color: black;
  padding: 0.2em 0.5em;
  display: block;
  margin-bottom: 5px;
  cursor: pointer; }

.filter.active {
  background-color: orange; }

.filter:hover {
  background-color: orange; }

@media screen and (min-width: 50em) {
  #Container {
    text-align: inherit; }

  .filter {
    margin-bottom: 1em;
    display: inline-block; }

  #Container .mix {
    width: 258px;
    margin: 4px;
    padding-bottom: 25px; } }
/* Headings
--------------------------------------------------*/
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: bolder;
  margin-bottom: .5em;
  text-shadow: 0px 2px 2px #BDBDBD; }

h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: bolder;
  margin-bottom: .5em;
  color: red; }

h3 {
  font-size: 1.17em;
  line-height: 1.5em;
  font-weight: bolder;
  margin-bottom: .5em; }

h4 {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: .5em; }

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important; }

/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1em;
  border-bottom: 2px solid red; }

.main hr {
  margin: 1em 0;
  height: 2px;
  background: #ddd; }

.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em; }

.main hr {
  background: black;
  height: 1px; }

.main a {
  cursor: pointer; }

.main a:hover {
  border-color: #222; }

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em; }

.text p {
  text-align: justify; }

@media screen and (min-width: 50em) {
  .text p {
    text-align: inherit; } }
/* Skills bar, resume attributes
-------------------------------------------------- */
span.percentage {
  float: right;
  font-size: 12px;
  margin-right: 4%; }

.attributes span {
  top: -40px;
  left: 1.5%;
  position: relative; }

progress {
  background-color: #D8D8D8;
  border: 0;
  height: 4px;
  width: 100%; }

progress::-webkit-progress-bar {
  background-color: #e0eaf0; }

progress::-webkit-progress-value {
  background-color: #329ad1; }

progress::-moz-progress-bar {
  background-color: #329ad1; }

.attributes h3 {
  margin: 1em 0px;
  font-weight: 300;
  text-shadow: 0px 2px 2px #BDBDBD; }

.attributes > div {
  padding-left: 3em; }

.attributes h3 > i {
  border: 4px solid #329ad1;
  margin-right: 10px;
  border-radius: 100%;
  padding: 5px;
  font-size: 24px;
  color: #A9A9A9; }

.attributes hr {
  background-color: black; }

.attributes hr:last-child {
  display: none; }

/* Single Project info and details
-------------------------------------------------- */
#projectInfo {
  margin-bottom: 1.5em;
  border-bottom: 1px solid black; }
  #projectInfo .button {
    background-color: #cccccc;
    padding: 5px;
    display: block;
    text-align: center;
    margin-bottom: 1em; }
    #projectInfo .button:hover {
      background-color: lightgreen;
      color: black;
      border: none;
      text-decoration: none; }
    #projectInfo .button:focus {
      color: black;
      text-decoration: none; }
  #projectInfo .lunch {
    width: 100%;
    height: 800px;
    display: block; }

#projectDetails {
  margin-bottom: 25px; }
  #projectDetails img {
    margin: 0 auto;
    box-shadow: 0px 0px 10px gray; }
  #projectDetails .tab-content .tab-pane {
    height: 500px; }
    #projectDetails .tab-content .tab-pane pre {
      margin: 0px;
      padding-top: 0px;
      padding-right: 0px;
      min-height: 100%;
      padding-bottom: 0px; }
      #projectDetails .tab-content .tab-pane pre code {
        padding-bottom: 10px;
        max-height: 500px;
        top: -20px; }

@media screen and (min-width: 50em) {
  #projectInfo {
    float: left;
    width: 25%;
    padding-right: 10px;
    border-bottom: none; }

  #projectDetails {
    float: right;
    width: 75%;
    border-left: 1px solid black;
    padding-left: 10px; } }
/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none; }

.teaser li {
  margin-bottom: 1.5em;
  list-style: none; }
  .teaser li img {
    box-shadow: 0 2px 8px gray; }

@media screen and (min-width: 50em) {
  .teaser li {
    float: left;
    width: 30%;
    margin-left: 5%; }

  .teaser li:first-child {
    margin-left: 0; } }
/* Contact Form
-------------------------------------------------- */
.contact-form {
  background-color: #cccccc;
  margin-bottom: 30px; }
  .contact-form table {
    width: 100%; }
    .contact-form table tr {
      display: block;
      margin: 20px; }
      .contact-form table tr td {
        display: inline; }
        .contact-form table tr td button:hover {
          background-color: lightgreen; }
        .contact-form table tr td textarea {
          min-height: 150px;
          resize: none; }
        .contact-form table tr td input, .contact-form table tr td input:focus, .contact-form table tr td textarea {
          outline: none;
          border: none;
          padding: 10px 10px 10px 50px;
          line-height: 25px;
          width: 100%;
          margin: 0px; }
        .contact-form table tr td .fa {
          background: white;
          padding: 12.5px;
          position: absolute; }

/* Social Media
-------------------------------------------------- */
.social-media .fa-facebook-square, .social-media .fa-linkedin-square, .social-media .fa-github-square, .social-media .fa-twitter-square {
  transition: color .3s, background .3s;
  color: gray; }
.social-media .fa-github-square:hover {
  color: black; }
.social-media .fa-facebook-square:hover {
  color: #4A66A0; }
.social-media .fa-linkedin-square:hover {
  color: #0097bd; }
.social-media .fa-twitter-square:hover {
  color: #20b8ff; }
.social-media table {
  display: block; }
  .social-media table tr {
    float: right; }
    .social-media table tr td {
      padding: 19px;
      display: inline-block; }
      .social-media table tr td a {
        display: inline-block; }

@media screen and (min-width: 50em) {
  .social-media table {
    float: right; } }
/* Map view
-------------------------------------------------- */
.map {
  width: 100%;
  height: 400px;
  box-shadow: 0px 5px 10px gray; }

/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  position: relative;
  padding: 0 0;
  clear: both; }

.nextprev a {
  border: 0; }

.nextprev .prev {
  float: left; }

.nextprev .next {
  float: right; }

/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 4em;
  font-size: .9em; }

.copyright {
  float: left; }

.rotate-word {
  display: inline-block;
  background-color: black;
  padding: 7px;
  color: white;
  box-shadow: 4px 4px 5px lightgray; }

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; } }
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; } }
.hvr-ripple-out {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #A9E2F3 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out; }

/*# sourceMappingURL=main.css.map */
